/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$sky_color: #2196f3;
$black_color: #212121;
$whitish_color: #f5f4fa;
$white_color: #ffffff;
$gray_color: #757575;
$grayish_color: #2f303a;
$shade_of_gray_1: #D9D9D9;
$shade_of_black: #000101;
$shade_of_gray_2: #afb1b8;
$shade_of_gray_3: #eeeeee;