$var1: #000101;
$var2: #ffffff;
$var3: #212121;
$var4: #2196f3;
$var5: #757575;

.header_bloks {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: $var1;
}
/* identical to box height */

.header_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 510px;
}
.menu_link {
	gap: 30px;
	display: flex;
	align-items: center;
	a::after {
		color: $var4;
		transition-duration: 1s;
		transform: rotateY(90deg);
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		background-color: $var4;
		border-radius: 2px;
		position: absolute;
		top: 41px;
	}
	a:hover::after {
		content: "";
		background-color: $var4;
		border-radius: 2px;
		transform: rotate(0deg);
	}
	a {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		color: $var3;
		position: relative;
	}
}
.menu_contact {
	display: flex;
	align-items: center;
	gap: 30px;
	a {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		display: flex;
		color: $var5;
		align-items: center;
		&:hover, &:hover path {
			color: $var4;
			fill: $var4;
		}
	}
	svg {
		margin-right: 10px;
	}
}
header {
	position: fixed;
	background-color: $var2;
	width: 100%;
	z-index: 20000;
}
.nav {
	text-decoration: none;
	> a {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.02em;
		color: $var3;
		&:hover {
			color: $var4;
		}
	}
}