$var1: #2f303a;
$var2: #2196f3;

a {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
}
footer {
	background-color: $var1;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
span {
	color: $var2;
}
