/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.cards_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.card {
	background: $white_color;
	border: 1px solid $shade_of_gray_3;
	width: 360px;
	height: 404px;
	margin-top: 30px;
	position: relative;
	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 71%;
		background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 191, 255)), to(skyblue));
		background: -o-linear-gradient(top, rgb(0, 191, 255), skyblue);
		background: linear-gradient(to bottom, rgb(0, 191, 255), skyblue);
		position: absolute;
		opacity: 0;
	}
	&:hover::before {
		opacity: 0.8;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	a {
		margin-top: 20px;
		margin-left: 24px;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 0.06em;
		color: $black_color;
	}
	/* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: $black_color;
}
.card h4 {
  margin-top: 4px;
  margin-left: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: $gray_color;
}
.card img {
  width: 100%;
}

.card > a {
  color: $shade_of_black;
}
.card_hover {
  color: $white_color;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
	h4 {
		margin-top: 4px;
		margin-left: 24px;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.03em;
		color: $gray_color;
	}
	img {
		width: 100%;
	}
	> a {
		color: $shade_of_black;
	}
	&_hover {
		color: $white_color;
		font-family: Roboto;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.54px;
		position: absolute;
		top: 11%;
		left: 6%;
		display: none;
	}
	&:hover .card_hover {
		display: block;
	}
}
.card h4, a {
	margin: 0;
}