/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



.clients {
	padding: 94px 0;
	&_title {
		margin: 0;
		font-weight: 700;
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		letter-spacing: 0.03em;
		color: $black_color;
	}
	&_list {
		margin-top: 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding: 0;
	}
	&_item {
		list-style: none;
		a {
			display: block;
			position: relative;
			border: 1px solid $shade_of_gray_2;
			border-radius: 4px;
			width: 170px;
			height: 92px;
			&:hover {
				border-color: $sky_color;
				path {
					fill: $sky_color;
				}
			}
		}
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}
	}
}