/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.futer_nav_website h4 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin: 0;
	color: $white_color;
}
.futer_nav_website a {
	display: block;
	background: rgba(255, 255, 255, 0.1);
	height: 44px;
	width: 44px;
	border-radius: 100%;
	position: relative;
	/* 171.429% */
  letter-spacing: 0.42px;
}
.adress2 {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px; 
}
.adress3 {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.futer_nav_website i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: $white_color;
}

.futer_nav_website a:hover,
.futer_nav_website a:hover i {
  background-color: $sky_color;
  color: $white_color;
}

.futer_nav_website ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
}

.Studio {
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-left: 36px;
}

.footer_title_smoll {
  color: $white_color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.list input {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
}
.list button {
  border-radius: 4px;
  background: $sky_color;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: $white_color;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
	&:hover, &:hover i {
		background-color: $sky_color;
		color: $white_color;
	}
}
footer {
	background-color: $grayish_color;
	padding: 72px 0 60px 0;
	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
}
.adress1 {
	color: $white_color;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.adress2 a {
	color: rgba(255, 255, 255, 0.60);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.adress3 a {
	color: rgba(255, 255, 255, 0.60);
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.42px;
}
.futer_nav_website i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	color: $white_color;
}
.futer_nav_website ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	padding: 0;
}
.Studio {
	font-family: Raleway;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.78px;
	padding-left: 36px;
}
.footer_title_smoll {
	color: $white_color;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.42px;
	text-transform: uppercase;
}
.list input {
	color: rgba(255, 255, 255, 0.6);
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.48px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(33, 150, 243, 0);
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	width: 358px;
	height: 50px;
}
.list button {
	border-radius: 4px;
	background: $sky_color;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	width: 200px;
	height: 50px;
	color: $white_color;
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.96px;
	border: none;
}
.footer_box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 12px;
	margin-top: 20px;
}